body{
    background-color:#282C33;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
header{
    margin-top: 10px;
    margin-bottom: 50px;
    text-align: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;

}
input{
    border-radius: 10px;
    size: 30px;
    border: 0 none;
    background-color: #D9D9D91A;
    width: 171px;
    height: 48px;
    font-size: large;
    text-align: center;
    color: white;
}
button{
    border: 0 none;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    width: 171px;
    height: 48px;
    margin-left: 10px;
    background-color: #95EBA8;
    color: #373737;
    font-weight: 700px;
    font-size: 20px;
    line-height: 26px;   
}
label{
    font-size: 15px;
    font-weight: 400px;
    line-height: 15px;
    margin-bottom: 5px;
}
form{
    display: flex;
    justify-content: center;
    align-items: flex-end; 
    margin-top: -50px;
    margin-bottom: 15px;
}
#caixa{
    width: 900px;
    height: 583px;
    background-color: #35393F;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}
#coluna{
    display: flex;
    flex-direction: column;
}
.coin{
    margin-left: 20px;
    margin-top: 10px;
    background-color: #00000033;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border-radius: 5px;
    width: 150px;
    height: 44px;
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: row;
}
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background-color: #f5f5f5;
  border-radius: 3px;
}
h1{
    font-size: 75px;
    margin-top: 0px;
    margin-bottom: 0px;
}
span{
    color: #95EBA8;
}
#valor{
    color: #FFE713;
}

#allCurrency{
    background-color:#35393F;
    width: 900px;
    height: 583px;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}