.super-mario {
  width: 200px;
  position: absolute;
  z-index: 1;

}

.goomba {
  width: 100px;
  position: absolute;
  margin-top: 300px;
  z-index: 2;
}

.baloon {
margin-left: 300px;
margin-top: 0;
position: absolute;
z-index: 3;

}

.speach {
  font-size: 25px;
  margin-left: 320px;
  margin-top: 65px;
  z-index: 4;
  position: absolute;
}

.bowser {
  width: 300px;
  margin-left: 600px;
  margin-top: 100px;
  z-index: 5;
  position: absolute;
}